/* @font-face { font-family: ‘yangjin’; src: url(‘https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff’) format(‘woff’); font-weight: normal; font-style: normal; } */
@font-face {
    font-family: '116watermelon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

* {
    word-break: break-word;
    margin: 0;   
     
}

body {
    background-image: url('../static/background.jpeg');
}

.mainContainer {
    /* background-color: #F6F3FA; */
    font-family: 'IBM Plex Sans KR', sans-serif;
    height: 100%;
    padding: 30px 0;
}

#header {
    /* background-color: #355399; */
    background-color : #fff;
    opacity: 0.8;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: '116watermelon';
}

.smallBox > h1 {
    background: linear-gradient(to right, #fbcac9, #8ca6ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    /* border: 1px solid gray; */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 20px;
}

.memo-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    width: 100%;
}

.bold {
    font-weight: 600;
}

/* .toggle {
    display: block;
} */

.mt-3 {
    margin-top : 30px;
}

#submit-memo, #submit-button {
    border : 0
}

#submit-memo {
    width: 80%;
    border-bottom: 1px solid #f0f0f0;
    word-break: break-word;
    resize: none;
    height: 50px;
    
}

#submit-memo:focus {
    outline: 0;
   
}

.font13 {
    font-size : 13px;
}

#submit-button{
    background: none;
    width: 80px;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
    margin-left : 3px;
    cursor: pointer;
}

#submit-button:hover {
    border: 0;
    background-color: #D2E4F9;
    color : #fff;
}

.form-flex {
    display: flex;
    justify-content: space-between;
}

#memo-data {
    display: flex;
    flex-direction: column-reverse;
}

.memo-box {
    border-bottom : 1px solid #f0f0f0;
    margin-bottom : 10px;
    padding: 5px;
}

.deleteBtn {
    font-size : 13px;
    color : #505050;
}