<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="icon" href="../static/good_icon.svg"/> 
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>

    <title>✨ 전국 최애 자랑 ✨</title>
    <meta property="og:title" content="✨ 전-국 최애 자랑 ✨"/>
    <meta property="og:description" content="최애 주접 판 깔아놨습니다.!"/>
    <meta property="og:image" content="{{ url_for('static', filename='banner.png') }}"/>


    <script>
        $(document).ready(function(){
            memo_listing();

        })

        function memo_listing() {
    
            //목록 보기 API 연결
            $.ajax({
                type: "GET",
                url: "/api/list",
                data: {},
                success: function (response) {
                    let todo_list = response['todo_list'];
                    for (let i = 0; i < todo_list.length; i++) {
                        let memo = todo_list[i].memo;
                        let temp_html = 
                        `<div class="memo-box">
                            <div class="form-flex">
                                <p id="memo_id">${memo}</p>
                            </div>
                        </div>`
                        $('#memo-data').append(temp_html);
                    }
                    
                }
            })
        }

        function memo() {
            // 메모하기 API 연결
            let submitMemo = $('#submit-memo').val();
            let checkMemo = submitMemo.replace(/\s | gi, ""/);
            let trimMemo = submitMemo.trim();

            if(checkMemo.length == 0 | trimMemo.length == 0) {
                alert("내용을 입력하세요!")
            }else {
               
                if (confirm("등록하실건가요?") ==true){

                $.ajax({
                    type: "POST",
                    url: "/api/write",
                    data: {
                        memo_give: submitMemo,
                    },
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                    }
                })

                }else {
                    return
                }
            }

        }

    </script>
</head>

<body>
<!-- As a heading -->
<header id="header">
    <div class="smallBox">
        <h1>★ 전-국 최애 자랑 ★</h1>
    </div>
</header>
<div class="mainContainer">
    <div class="box font13 mt-3">
        <p>📌 아이돌,배우,애니,게임 모두 가능!</p>
        <p>📌 주접은 모두 익명으로 작성됩니다.</p>
        <p style="margin-bottom : 30px">📌 수정/삭제 문의사항은 'alissacoding@gmail.com' 으로 주세요.</p>
        <form class="form-flex">
        <textarea id="submit-memo" type="text"
            placeholder="🌈 주접 떨 준비 되셨나요?"></textarea>
            <button id="submit-button" type="submit" value="Submit"
            onclick="memo()">확인</button>
        </form>
    </div>
    <div>
        <div class="box mt-3">
            <h4><span>💖 최애 주접 판 깔았습니다 ✨</span></h4>
            <div id="memo-data" class="mt-3">
                
            </div>
        </div>
    </div> 
</div>
</div>
</div>
</body>

</html>