<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"/>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>MEMO!📌</title>
    <meta property="og:title" content="To DO List"/>
    <meta property="og:description" content="오늘 할 일을 적어보세요!"/>
    <!-- <meta property="og:image" content="{{ url_for('static', filename='product.jpeg') }}"/> -->


    <script>
        $(document).ready(function () {
            // cash()
            // $.ajax({
            //     type: "GET",
            //     url: "https://api.manana.kr/exchange/rate.json",
            //     data: {},
            //     success: function (response) {
            //         let nowRate = response[1]['rate'];
            //         $('#rate-box').text(nowRate);
            //     }
            // })
            order_listing();
        });

        function order_listing() {

            // 목록 보기 API 연결
            $.ajax({
                type: "GET",
                url: "/ToDoList",
                data: {},
                success: function (response) {
                    let order_list = response['todo_list'];
                    for (let i = 0; i < order_list.length; i++) {
                        let num = i + 1
                        let name = order_list[i].name;
                        let phone = order_list[i].phone;
                        let amount = order_list[i].amount;

                        let temp_html = `<tr><th scope="row">${num}</th><td>${name}</td>
 <td>${amount}</td><td>${phone}</td></tr>`
                        $('#table-data').append(temp_html);


                    }
                }
            })
        }

        function memo() {
            // 메모하기 API 연결
            let name = $('#submit-name').val();
            let phone = $('#submit-phone').val();
            let amount = $('#submit-amount').val();
            let address = $('#submit-address').val();
            let address2 = $('#submit-address2').val();
            let post = $('#submit-post').val();

            $.ajax({
                type: "POST",
                url: "/ToDoList",
                data: {
                    name_give: name,
                    phone_give: phone,
                    amount_give: amount,
                    address_give: address,
                    address2_give: address2,
                    post_give: post
                },
                success: function (response) { // 성공하면
                    alert(response["msg"]);
                }
            })
        }

        // function cash() {
        //     $.ajax({
        //         type: "GET",
        //         url: "http://spartacodingclub.shop/sparta_api/rate",
        //         data: {},
        //         success: function (response) {
        //             let exchange = response.rate;
        //             let temp_html = `<p class="bold mt-3">📌 달러•원 환율 : ${exchange}</p>`
        //             $('#exchange').append(temp_html);
        //         }
        //     })

        // }

        function toggle() {
            let status = $('.toggle').css('display');
            if (status == 'block') {
                $('.toggle').hide();
            } else {
                $('.toggle').show();
            }
        }
    </script>
</head>

<body>
<!-- As a heading -->
<header id="header">
    <div class="smallBox">
        <h2> &lt; &lt;  TO DO LIST &gt; &gt; </h2>
    </div>
</header>
<div class="mainContainer">
    <div>
        <div class="box mt-5">
            <form>
            <input id="submit-name" type="name"
                placeholder="할 일을 적어주세요"/>
                <button type="submit" value="Submit"
                onclick="memo()">Submit</button>
            </form>
        </div>
    </div>
    <div>
        <div class="box mt-3" onclick=toggle() style="cursor: pointer;">
            <h4><span>📄 클릭하면 리스트가 닫힙니다.</span></h4>
            <span>문의사항은 'alissacoding@gmail.com' 으로 주세요.</span>
        </div>

        <div>
            <div class="toggle box mt-3">메모들 있는 자리</div>
        </div>
    </div> 
</div>

</div>
</div>
</body>

</html>